:root {
  --accent-color: #03a9f4;
  --primary-color: #4caf50;
  --dark-primary-color: #388e3c;
  --text-color: #212121;
  --text-secondary-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  display: block;
  text-align: center;
}
h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 60px auto 10px;
}
h2 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}
h3 {
  font-size: 20px;
  opacity: 0.9;
}

footer {
  margin: 80px 20px;
  font-size: small;
}

footer a {
  color: var(--accent-color);
}

p {
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

.headShot {
  display: block;
  margin: 60px auto;
  width: 300px;
  border-radius: 50%;
  border: 10px solid #c4c4c4;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.homeText {
  margin-right: 50px;
  text-align: center;
}

.button {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  border: 3px solid var(--accent-color);
  padding: 10px 15px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px 10px;
  max-width: 200px;
}

.button:hover {
  background: var(--dark-primary-color);
  color: white;
}

.img-about {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: block;
  margin: 60px auto;
  width: 340px;
}

.img-statement {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 100%;
  transition: all 200ms ease;
}

.img-statement:hover {
  cursor: pointer;
  opacity: 0.8;
}

.h1-about {
  text-align: left;
  margin: 30px 20px 40px 0;
  font-size: 30px;
}

.p-about {
  text-align: left;
  margin-left: 0 20px 20px 0;
}

.about-row {
  background-color: rgba(76, 175, 80, 0.1);
  border-radius: 1px;
  margin: 10px 0;
}

.about-row-alt {
  background-color: rgba(76, 175, 80, 0.3);
  border-radius: 1px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .h1-about,
  .p-about {
    text-align: center;
  }
}

@media (max-width: 645px) {
  .homeText {
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 589px) and (max-width: 865px) {
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
}
